body,
html {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif !important;
    scroll-behavior: smooth;
    background-color: var(--base-white) !important;
}
:root {
    --red: #a20254;
    --yellow: #e8be0c;
    --green: #02e871;
    --base-white: #fff9f9;
    --base-blue: #00012d;
}
.nav-item a {
    color: var(--base-blue);
}
.nav-item a:hover {
    color: var(--red);
}

.nav-item a.active {
    color: var(--green) !important;
    background-color: var(--base-white) !important;
}

#sidebar {
    width: 300px;
}
